
button{
    width: 100px;
    padding: 5px 0;
    text-align: center;
    margin: 5px 5px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f70d1a;
    background: #f70d1a;
    color: #fff;
    transition-duration:0.5s
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #f70d1a;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:0.5s;
}
button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}
