*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

body{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)),url('background1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FFFFFF
}

.filterposition{
padding: 1% 5%;
}

.error {
    text-align: center;
    color: red;
}

