.navbar{
    width: 85%;
    margin: auto;
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar ul li{
    list-style: none;
    display: inline-block;

}

.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a::after{
    content:"";
    height: 3px;
    width: 0;
    background: #f70d1a;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
}
.navbar ul li a:hover::after{
    width:100%;
}


.logo{
    width: 400px;
    cursor: pointer;
}
