
.table-container{
    padding: 0 5%;
    padding-bottom: 5%;

}

.table-container-form{
    padding: 0 25%
}

.heading{
    font-size:40px;
    text-align: center;
    color:#f1f1f1;
    margin-bottom:40px;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table thead{
    background-color:#f70d1a;
}

.table thead tr th{
    font-size: 14px;
    font-weight:600;
    letter-spacing:0.35px;
    color: #fff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}

.table tbody tr td{
    font-size: 14px;
    letter-spacing;0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color:transparent;
    padding: 8px;
    text-align: center;
    border: 1px solid  #dee2e685;
}

input,select,textarea{
 width: 200px;
}
